<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <!-- For Android 7.0+ (lock screen) -->
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".helper.AppController"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.basic_android_setup"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".mvvm.intro.view.IntroActivity"
            android:theme="@style/AppTheme.IntroTheme"
            android:fitsSystemWindows="true"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/google_ad_application_id_live"/>
        <!-- GOOGLE START -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" /> <!-- GOOGLE END -->
        <!-- PUSHWOOSH START -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.pushwoosh.appid"
            android:value="@string/pushwoosh_app_id_live" />
        <meta-data
            android:name="com.pushwoosh.senderid"
            android:value="@string/pushwoosh_sender_id" />
        <meta-data
            android:name="com.pushwoosh.notification_service_extension"
            android:value="com.app.happy_birthday.helper.PushwooshNotificationService" />
        <meta-data
            android:name="com.pushwoosh.log_level"
            android:value="NONE" />

        <activity
            android:name="com.pushwoosh.DeepLinkActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/pushwoosh_partner_id_live"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity> <!-- PUSHWOOSH END -->
<!--        <provider-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:authorities="com.app.happy_birthday"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/fileproviderpaths" />-->
<!--        </provider>-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.app.happy_birthday.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".mvvm.wallpaper.view.ImageViewerActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".mvvm.saved.view.SavedImageActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name=".mvvm.edit_image.view.EditImageActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name=".mvvm.splash.view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvvm.login.view.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".mvvm.home.view.HomeActivity"
            android:exported="true" />
    </application>

</manifest>